/* 
    Document   : ${name}
    Created on : ${date}, ${time}
    Author     : ${user}
    Description:
        Purpose of the stylesheet follows.
*/
 
/* html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark
*/
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
 
/* Minimal base styles
More Info: https://github.com/paulirish/html5-boilerplate/blob/362d0b7/css/style.css
*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-y:scroll}
a:link{-webkit-tap-highlight-color:#FF5E99}
a:hover,a:active{outline:none}
a,a:active,a:visited{color:#607890}
a:hover{color:#036}
ul,ol{margin-left:2em}
ol{list-style-type:decimal}
nav ul,nav li{list-style:none;list-style-image:none;margin:0}
small{font-size:85%}
b,strong,th{font-weight:700}
td{vertical-align:top}
sub,sup{font-size:75%;line-height:0;position:relative}
sup{top:-.5em}
sub{bottom:-.25em}
pre{padding:15px;white-space:pre-wrap;word-wrap:break-word}
.ie6 legend,.ie7 legend{margin-left:-7px}
button,input,select,textarea{font-family:sans-serif;font-size:100%;margin:0;overflow:visible;vertical-align:baseline;width:auto}
textarea{overflow:auto;vertical-align:text-top}
label,input[type=button],input[type=submit],input[type=image],button{cursor:pointer}
input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0}
input:invalid,textarea:invalid{-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;border-radius:1px;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}
.ie7 img{-ms-interpolation-mode:bicubic}
 
/* ------------------------- Backgrounds */
/*body {background:url("../images/im_bg.gif") left top repeat;}*/
 
/* ------------------------- Generic */
body {
    font:300 16px/1.4375 'Roboto', Arial, sans-serif; color:#000
}
.clear {clear:both;}
img { /* Needed for mobile */
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}
 
/* ------------------------- Typography */
strong {font-weight:bold;}
p {}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
address {}
pre, code {font-family: monospace;}
 
/* Links */
a, a:visited, a:active {}
a:hover {}
 
/* ------------------------- Forms */
input {}
select {}
label {}
 
/* ------------------------- Lists */
 
/* ------------------------- Layout */
.fixed{position:fixed;top:0px;}
.a-top{
	height:115px;
	width:100%;
	left:0px;
	z-index: 1;
	
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.a-top.fixed .a-header{
	padding-top:0px;
}
.a-header{
	padding-top:10px;
}
 .a-logo{
	float:left;
 }
 .menu{
	
 }
 .hide-on-top{
	display:none;
	margin-left: -15px;
margin-right: -15px;
background: #faf7f2;
padding: 0px 15px;
height:90px;
box-shadow: 2px 0px 2px rgba(0,0,0,0.4);
 }
.hide-on-top .navbar-nav{
	background:#faf7f2;
	margin-top:0px!important;
	margin-left:30px;
 }
 .hide-on-top .navbar-brand{
	margin-left: 30px;
padding-top: 10px;
 }
 .navbar-nav{
	margin-top: 25px!important;
	background:#fff;
 }
 #bs1 .navbar-nav a{
	color:#333;
}
#bs1 .navbar-nav a span{
	border-bottom:1px dashed #333;
}
#bs1 .navbar-nav a:hover span{
	border-color:transparent;
}
#bs1 .navbar-nav .free-c{
	color:#00999b;
}
#bs1 .navbar-nav .free-c span{
	border-bottom:1px dashed #00999b;
}
.navbar-nav .right-call{
	background:#00999b;
	padding-left:30px;
	padding-right:30px;
	padding-top: 15px;
	padding-bottom:10px;
}
#bs1 .navbar-nav .right-call .callback{
	padding:0px;
	text-align:center;
	color:#fef506;
	margin-top:-15px;
	line-height: 40px;
}
#bs1 .navbar-nav .right-call .callback span{
	border-bottom:1px dashed #fef506;
}
.navbar-nav .right-call .header-phone{
	color:#fff;
	line-height:32px;
}
 .navbar-nav li a, #bs1 .navbar-nav li a{
	font-size:18px;
	color:#333;
	font-weight:300;
	line-height: 50px;
 }
 .navbar-nav .dropdown{position:static;}
 .navbar-nav>li>.dropdown-menu{left:0px;}
 .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color:transparent!important;
	border-color: transparent!important;
	color:#00999b;
 }
 .nav > li > a:hover, .nav > li > a:focus{
	background-color:transparent!important;
	color:#00999b;
 }
 .navbar-header .navbar-toggle{
	background-color:#00999b;
}
.dropdown-menu{
	background:#edf1ee!important;
}
.shadow-m {
overflow: hidden;
box-shadow: inset 0px -2px 2px rgba(0,0,0,0.1);
margin-left: -15px;
margin-right: -15px;
}
.megamenu{
	background:#edf1ee;
}
.megamenu  p{
	color:#00999b;
	font-size:14px;
	margin:0px;
	padding:0px;
}
.megamenu li.up > a{
	font-size:19px;
	color:#333;
	display:block;
	padding:10px 0px;
	text-align:center;
}
.megamenu .mega-col a{
	font-size:14px;
}
.megamenu .mega-col{
	margin-top:15px;
}
 .icon-bar {
background-color: #fff;
}
.header-phone{color:#706f6f; font-weight:300; font-size:18px; line-height:52px; vertical-align:top;}
.header-phone big{font-size:36px}
.button, .navbar-nav .button{
	display:block;
font-size: 16px;
height: 47px;
color: #fff!important;
background: #00999b;
padding: 10px 15px!important;
margin:0px 12px 20px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
border:1px solid #00999b;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.button:hover, .navbar-nav .button:hover{
	background:transparent;
	color:#00999b!important;
}
section{position: relative;}
.slider-main{
	width:100%;
	background:#2ea7a5 url(../images/slider-bg.jpg)no-repeat center;
	position: relative;
/*margin-top: 115px;*/
}
.slider-main .breadcrumb{
	background-color:transparent;
	padding: 8px 0px;
	margin-left: -15px;
}
.slider-main .breadcrumb ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.slider-main .breadcrumb ul li{
	float:left;
	padding:0px 5px;
	color:#fff;
}
.slider-main .breadcrumb ul li a{
	color:#fff;
}
.slider-main h2{
	color:#fff;
	text-align:center;
	font-size:48px;
	font-weight:300;
	margin:30px 0px;
}
.slider-main .slide-caption{
	text-align:center;
	color:#fff;
	padding:0px 60px;
	width: 85%;
	margin: 0px auto 25px;
}
.slider-main .slide-caption p{
	font-size:16px;
	margin-bottom:30px;
}
.slider-main .slide-caption span{
	font-size:20px;
	font-weight:400;
	display:inline-block;
	
}
.slider-main .slide-caption span.extra-y{
	color:#fed906;
}

.button-yellow{
	display:inline-block;
font-size: 20px;
text-decoration:none;
height: auto;
color: #086461;
background: #fed906;
padding: 10px 15px;
margin:0px 12px 20px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
border:2px solid #fed906;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
input.button-yellow{
	margin:20px auto ;
	font-size: 18px;
}
.button-yellow:hover{
text-decoration:none;
	background: transparent;
	color:#fed906;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.danger-title{
	font-size:36px;
	text-align:center;
	font-weight:300;
	margin-top:30px;
	margin-bottom:30px;
	color:#706f6f;
}
.d-item{
	text-align:center;
}
.d-item-title{
	font-size:18px;
	font-weight:400;
}
.d-item p{
	font-size:16px;
}
.sprite{
	background:url(../images/sprite.png) no-repeat -9999px -9999px;
}
.d-item .icon{
	display:inline-block;
	width:78px;
	height:78px;
	margin:0px 0px 20px;
}
.heart{
	background-position: -3px -601px;
}
.leg{
	background-position: -81px -601px;
}
.spine{
	background-position: -159px -601px;
}
.brain{
	background-position: -237px -601px;
}
.procedure-title{
	font-size:36px;
	text-align:center;
	font-weight:300;
	margin-top:30px;
	margin-bottom:30px;
	color:#706f6f;
}
.pro-item-title{
	color:#00999b;
	font-size:20px;
	margin:25px 0px 15px;
}
.pro-item{
	margin-bottom:15px;
	min-height: 430px;
}
.pro-item img{
	width:100%;
}
.pro-item p{
	font-size:16px;
}
.photo-after-title{
	font-size:36px;
	text-align:center;
	font-weight:300;
	margin-top:30px;
	margin-bottom:30px;
	color:#706f6f;
}
.photo-item{
	margin-bottom:15px;
}
.photo-item img{
	width:100%;
}
.more-photo{
	text-align:center;
	margin:30px 0px;
}
.more-photo-hide{
	display:none;
	position:relative;
}
.more-photo a{
	display:inline-block;
	color:#00999b;
	text-decoration:none;
	border-bottom:1px dashed #00999b;
	font-size:16px;
}
.more-photo a:hover{
	color:#00999b;
	border-bottom:1px dashed transparent;
	text-decoration:none;
}
.result{
	background:#f8f5f2;
	padding-bottom:20px;
}
.statement h3, .res h3{
	text-align:center;
	color:#706f6f;
	font-size:36px;
	font-weight:300;
	margin:30px 0px;
}
.statement, .res{
	padding-left:30px;
}
.statement p{
	font-size:16px;
	padding-left:40px;
	line-height:30px;
	background:url(../images/not-ok.png)no-repeat left;
}
.res p{
	font-size:16px;
	padding-left:40px;
	line-height:30px;
	background:url(../images/ok.png)no-repeat left;
}
.problem-item{
	margin-bottom:30px;
}
.problem-title{
	font-size:36px;
	text-align:center;
	font-weight:300;
	margin-top:30px;
	margin-bottom:30px;
	color:#706f6f;
}
.problem-item p{
	font-size:16px;
	font-weight:300;
}
.problem-item .p-item-title{
	font-size:18px;
	color:#00999b;
	font-weight:300;
}
.price-inner{
	margin:30px 10%;
	border:1px solid #00999b;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:0px 30px;
}	
.price-inner h3{
	color:#00999b;
	font-size:36px;
	font-weight:300;
	text-align:center;
	margin:20px 0px;
}
.price-inner .table-striped tr td{
	padding:0px 15px;
	line-height:72px;
	font-size:16px;
	border: 0px;
}
.price-inner .table-striped tr td.pr{
	font-weight:400;
}
.price-inner .table-striped tr td span.price-action{
	display:inline-block;
	font-size:12px;
	line-height:24px;
	color:#e74c3c;
	padding:0px 7px;
	border:1px solid #e74c3c;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin-left:20px;
}
.price-inner .table-striped tr td .fa{
	font-size:12px;
}
.table-price {}
.a-action{
	background-image: url(../images/action-bg.jpg);
background-repeat: no-repeat;
background-position: center center;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.a-action-main{
	margin:30px 10%;
	padding-bottom:20px;
	overflow:hidden;
}
.a-action-main .gift{

	font-size:48px;
	color:#fff;
	background:url(../images/gift.png)no-repeat left center;
	padding-left:100px;
}
.a-action-main p{
	color:#fff;
	line-height:32px;
	font-size:26px;
	padding:0px 0px 0px 40px;
	margin-bottom:30px;
}
.center{
	text-align:center;
}
.a-action-main span{
	font-size:20px;
	color:#fff;
	font-weight:400;
}
.a-action-main .extra-y{
	color:#fed906;
}
.j-sprite{background:url(../images/sprite.png) no-repeat -9999px -9999px}
.advantages-title{color:#00999b; font-size:36px; text-align:center; margin:35px 0px;}
.advantage{overflow:hidden; display:inline-block;  padding-right:20px; margin-bottom:30px; vertical-align:top}
.advantage-image{width:64px; height:64px; float:left}
.advantage-image.a1{background-position:0 -377px}
.advantage-image.a2{background-position:-64px -377px}
.advantage-image.a3{background-position:-128px -377px}
.advantage-image.a4{background-position:-192px -377px}
.advantage-image.a5{background-position:-256px -377px}
.advantage-image.a6{background-position:-320px -377px}
.advantage-text{margin-left:95px;font-size:16px;}
.our-p-title{
	color:#706f6f;
	text-align:center;
	font-size:36px;
	font-weight:300;
	margin-top:30px;
	margin-bottom:20px;
}
.our-p p{
	font-size:16px;
}
.sign-consult{
	background-image: url(../images/sign-form-bg.jpg);
background-repeat: no-repeat;
background-position: center center;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.sign-form-wrap{
	text-align:center;
}
.form-left, .form-right{
	float: left;
	text-align:left;
}
.form-left{width:40%;}

.form-left-title{
	color:#fff;
	font: 400 32px/40px 'Roboto', sans-serif;
	text-align:center;
	margin:25px 0px;
	padding:0px 10%;
}
.form-left .form-group{
	width:280px;
	margin:20px auto;
}

.form-left input[type="text"]{
	-webkit-appearance: none;
padding: 0 25px;
box-sizing: content-box;
-moz-box-sizing: content-box;
height: 40px;
width: 230px;
font: 300 16px/40px 'Roboto', Arial, sans-serif;
color: #000;
background: #fff;
border-radius: 4px;
margin: 0 auto;
}
.form-left select {
background: #fff url(../images/select.png) no-repeat 245px center;
color: #333!important;
box-sizing: content-box;
-moz-box-sizing: content-box;
cursor: pointer;
display: block;
-webkit-appearance: none;
padding: 0 25px;
height: 40px;
width: 230px;
font: 300 16px/40px 'Roboto', Arial, sans-serif;
color: #000;
border-radius: 4px;
margin: 0 auto;
}
.sign-form-wrap label{
	text-align:left;
	color:#fff;
	font: 300 14px/20px 'Roboto', Arial, sans-serif;
}
.for-submit{text-align:center;width:280px;margin:0 auto;}
.form-gift{
	font-size:20px;
	font-weight:400;
	display:block;
	color:#fff;
	text-align:center;
}
.form-gift span{
	display:block;
	color:#fed906;
}
.form-right{
	background:url(../images/form-bg.png)no-repeat center top;
	width:50%;
	position:relative;
	min-height:510px;
	margin-top: 15px;
	padding: 20px 55px;
}
/*carousel*/
/* carousel */
.form-right .bx-wrapper{
	width:100%;
}
.form-right .carousel-nav {
position: relative;
color:#d1d1d1;
height:40px;
top: 40px;
}
.form-right .carousel-nav i{
	font-size:30px;
	line-height:38px;
}
.form-right #form-slider-next {
position: absolute;
top: 0px;
right: 0%;

}
.form-right #form-slider-prev {
position: absolute;
top: 0px;
right: 20%;

}
.form-right a.bx-next {
text-align: center;
display: inline-block;
width: 38px;
height: 38px;
border: 1px solid #fff;
border-radius: 50%;
/* margin-right: 9px; */
overflow: hidden;
position: relative;
margin-left: -10px;
color:#fff;
padding: 0px 0px 0px 2px;
}
.form-right a.bx-prev {
text-align: center;
display: inline-block;
width: 38px;
height: 38px;
border: 1px solid #fff;
border-radius: 50%;
/* margin-right: 9px; */
overflow: hidden;
position: relative;
margin-left: -10px;
color:#fff;
padding: 0px 2px 0px 0px;
}
.form-right a.bx-prev:hover, .form-right a.bx-next:hover{
	border: 1px solid #fff;
	color:#12a0a2;
	background:#fff;
}
#form-slider-next:hover, #form-slider-prev:hover{color:#12a0a2}
.form-right .bx-controls.bx-has-pager {
position: absolute;
top: -114px;
width: 50px;
left: 368px;
}
.form-right .bx-wrapper .bx-pager{color:#fff!important;}
.form-right .bx-wrapper{
	margin-bottom:40px;
}
.form-right-title{
	font-size:26px;
	color:#fff;
	font-weight:400;
}
.for-salon-select{
	text-align:center;
	margin-top:25px;
}
.for-salon-select span{
	font-size:16px;
	color:#fff;
	font-weight:400;
	line-height:30px;
	padding-right:20px;
}
.form-right select{
	background: #fff url(../images/select.png) no-repeat 200px center;
color: #333!important;
box-sizing: content-box;
-moz-box-sizing: content-box;
cursor: pointer;

-webkit-appearance: none;
padding: 0 10px;
height: 30px;
width: 200px;
font: 300 14px/30px 'Roboto', Arial, sans-serif;
color: #000;
border-radius: 4px;
margin: 0 auto;
}
.form-slid-wrap{
	background:#fff;
	margin-top: 20px;
}
.specialist-list{
	padding-top:20px;
}
.spec-header .spec-name{
	font-size:16px;
	font-weight:400;
	line-height:25px;
	margin-bottom:10px;
}
.spec-header p{
	line-height:20px;
	font-size:16px;
	margin:0px;
	padding:0px;
}
.spec-text{
	padding-top:15px;
}
.text-list{
	
}
.text-list li{
	font-size:15px;
	line-height:25px;
	color:#00999b;
	list-style-type: disc;
}
.text-list li span{
	color:#000;
}
.spec-text a{
	display:block;
	
	color:#00999b;
	font-size:14px;
	text-decoration:underline;
	margin: 20px 0px 20px 14%;
}
.form-right-bottom{
	text-align:center;
	font-size:16px;
	font-weight:400;
	color:#fff;
	margin-left:-20px;
	margin-right:-20px;
}
.what-talk{
	background:#faf9f7;
}
.talk-wrap{
	width:80%;
	margin:0 auto;
}
.talk-wrap .bx-wrapper{
	width:100%;
}
.talk-wrap .bx-wrapper .bx-viewport{
	background:transparent;
}
.talk-title{
	color:#706f6f;
	text-align:center;
	font-size:36px;
	font-weight:300;
	margin:30px 0px;
}
.talk-head p{
	color:#706f6f;
}
.talk-head p strong{
	color:#000;
	font-size:18px;
}
.t-s-wrap{
	padding-top:30px;
}
.t-s-wrap blockquote{
	padding:0px;
	border:0px;
	margin:0px;
	font-size:16px;
}
.t-s-wrap blockquote.talk-style{
	  padding: 11px;
margin: 15px;
  background-image: url(../images/openquote.png);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;

}
.t-s-wrap blockquote.talk-style span{
	display: block;
    	background-image: url(../images/closequote.png);
    	background-repeat: no-repeat;
    	background-position: bottom right;
}

.talk-wrap .carousel-nav {
position: relative;
color:#d1d1d1;
height:40px;
width: 200px;
margin: 0 auto;
}
.carousel-nav i{
	font-size:30px;
	line-height:38px;
}
#talk-slider-next {
position: absolute;
top: 0px;
right: 30px;

}
#talk-slider-prev{
position: absolute;
top: 0px;
left: 30px;

}
.talk-wrap a.bx-next {
text-align: center;
display: inline-block;
width: 38px;
height: 38px;
border: 1px solid #ddd;
border-radius: 50%;
/* margin-right: 9px; */
position: relat;
position: relative;
margin-left: -10px;
color:#d1d1d1;
padding: 0px 0px 0px 2px;
overflow:hidden;
}
.talk-wrap a.bx-prev {
text-align: center;
display: inline-block;
width: 38px;
height: 38px;
border: 1px solid #ddd;
border-radius: 50%;
/* margin-right: 9px; */
position: relat;
position: relative;
margin-left: -10px;
color:#d1d1d1;
padding: 0px 2px 0px 0px;
overflow:hidden;
}
.talk-wrap a.bx-prev:hover, .talk-wrap a.bx-next:hover{
	border: 1px solid #12a0a2;
	color:#12a0a2;
}
#talk-slider-next:hover, #talk-slider-prev:hover{color:#12a0a2}
.talk-wrap .bx-wrapper .bx-pager{
	text-align: center;
font-size: 14px;
color: #7f8c8d;
padding-top: 20px;
}
.talk-wrap .bx-controls.bx-has-pager{
	position: absolute;
top: -41px;
width: 50px;
left: 47%;
}
.review-title{
	color:#706f6f;
	font-size: 36px;
	font-weight:300;
text-align: center;
margin-bottom: 35px;
margin-top:30px;
}
.bx-wrapper{
	width:80%;
}
.carousel-nav {
position: relative;
color:#d1d1d1;
height:40px;
}
.carousel-nav i{
	font-size:30px;
	line-height:38px;
}
#carousel-next {
position: absolute;
top: 0px;
left: 54%;

}
#carousel-prev {
position: absolute;
top: 0px;
left: 44%;

}
a.bx-next {
text-align: center;
display: inline-block;
width: 38px;
height: 38px;
border: 1px solid #ddd;
border-radius: 50%;
/* margin-right: 9px; */
position: relat;
position: relative;
margin-left: -10px;
color:#d1d1d1;
padding: 0px 0px 0px 2px;
}
a.bx-prev {
text-align: center;
display: inline-block;
width: 38px;
height: 38px;
border: 1px solid #ddd;
border-radius: 50%;
/* margin-right: 9px; */
position: relat;
position: relative;
margin-left: -10px;
color:#d1d1d1;
padding: 0px 2px 0px 0px;
}
a.bx-prev:hover, a.bx-next:hover{
	border: 1px solid #12a0a2;
	color:#12a0a2;
}
#carousel-next:hover, #carousel-prev:hover{color:#12a0a2}
.bx-controls.bx-has-pager {
position: absolute;
top: -40px;
width: 50px;
left: 47%;
}
.carousel-review{
	padding:20px 0px 30px 0px;
	margin-bottom:20px;
	border-bottom:1px solid #f1f1f1;
}
.carousel-review-head{
	margin-bottom:25px;
}
.foto {
float: left;
padding-right: 15px;
padding-left: 15px;
}
.review-extra{
	font-size:14px;
	line-height:25px;
	color:#7f8c8d;
}
.review-extra span.nik{
	font-weight:bold;
	color:#000;
	font-size:16px;
}
.carousel-review-description p{
	font-size:16px;
}
.info-rev{
	display:inline-block;
	font-size:14px;
	line-height:25px;
	padding-left:15px;
}
.info-rev span{
	color:#00999b;
	padding-right:15px;
}
.info-rev:first-child{padding-left:0px;}
.faq{
	background:#f7f5f2;
}
.faq-title{
	color:#706f6f;
	font-size: 36px;
	font-weight:300;
text-align: center;
margin-bottom: 35px;
margin-top:30px;
}
.panel-title > a{
	color:#00999b!important;
	font-size:18px;
	
}
.panel-title > a:hover{
	text-decoration:none;
	color:#000!important;
}
.panel-title > a > span{
	border-bottom:1px dashed #00999b;
	}
	.panel-title > a:hover span{
		border-bottom:1px dashed transparent;
	}
.panel{
	background-color:transparent!important;
}
.panel-default{
	border-color:transparent!important;
	box-shadow:none!important;
	-webkit-box-shadow:none!important;
}
.panel-group .panel-heading+.panel-collapse .panel-body{
	border-left:1px solid #00999b;
	padding-left:15px;
}
.panel-body{
	margin-left: 15px;
}
.col-5{
	position:relative;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:20px;
}
.adres{
	font-size:14px;
	color:#666666;
	
}
.adres p{
	line-height:20px;
	padding:0px;
	margin-bottom:5px;
}
.adres .adress-title{
	color:#00999b;
	font-size:16px;
	line-height:35px!important;
}
.adres .metro{
	padding-left:25px;
	margin-top:10px;
	background:url(../images/metro.png)no-repeat left;
}
.footer .column{
	display:inline-block;
	vertical-align: top;
	padding-left:15px;
	padding-right:15px;
}
.footer .column .foo-tel{
	font-size:36px;
	color:#666;
	display:inline-block;
	padding: 14px 0px 0px 10px;
}
.footer .column .foo-tel span{
	font-size:14px;
	display:inline-block;
	vertical-align: middle;
margin-right: 10px;
	
}
.social-wrap{
padding-top: 10px;
}
.social-wrap a{
	display:inline-block;
	width:56px;
	height:56px;
	margin-bottom:25px;
	text-align:center;
	font-size:30px;
	color:#00999b;
	border:1px solid #00999b;
	border-radius:100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	vertical-align:middle;
	line-height: 56px;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.social-wrap a:hover{
	color:#fff;
	background:#00999b;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.copy{
	margin-top:20px;
	border-top:1px solid #d1d1d1;
	padding-top:20px;
	padding-bottom:20px;
}
.copyright{opacity:0.6;}
.button-foo{
	display: inline-block;
font-size: 16px;
height: 47px;
color: #fff!important;
background: #00999b;
padding: 10px 24px!important;
margin: 0px 15px 20px 0px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
border: 1px solid #00999b;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
vertical-align:top;
}
.button-foo:hover{
	color:#00999b!important;
	background:#fff;
	text-decoration:none;
}
.button-white{
	display: inline-block;
font-size: 16px;

height: 47px;
color: #00999b!important;
background: #fff;
margin-bottom:20px;
padding: 10px 15px!important;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
border: 1px solid #00999b;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.button-white:hover{
	color:#fff!important;
	background:#00999b;
	text-decoration:none;
}
.s-f{
	width:180px;
	padding: 3px 0px 3px 20px!important;
	background-image:url(../images/envelope.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding: 3px 0px 3px 50px!important;
	line-height: 16px;
}
.s-f:hover{
	background-image:url(../images/envelope-h.png);
	background-repeat:no-repeat;
	background-position:left center;
	
}

/* ------------------------- Popups */
 
/* ------------------------- Media Queries */
 
/* ---------------------------------------------------------------------------- */
/* MEDIA QUERIES -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
 
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
 
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */
 .form-left, .form-right{
	width:100%;
 }
 .form-right .carousel-nav{
	top: 83px;
 }
 .for-salon-select{
	margin-top: 70px;
 }
 .form-right .bx-controls.bx-has-pager{
	left: 40%;
	top: -147px;
 }
 .form-right #form-slider-prev{
	right: 80%;
 }
 .talk-wrap .bx-controls.bx-has-pager{
	left: 38%;
 }
 #carousel-prev{
	left: 34%;
 }
 #carousel-next{
	left: 64%;
 }
 .bx-controls.bx-has-pager{
	left: 43%;
 }
}
 
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px)
and (max-width : 480px) {
    /* Styles */
 .form-left, .form-right{
	width:100%;
 }
 .form-right{
	background:none;
 }
 .form-right .carousel-nav{
	top: 83px;
 }
 .for-salon-select{
	margin-top: 70px;
 }
  .form-right .bx-controls.bx-has-pager{
	left: 40%;
	top: -147px;
 }
  .form-right #form-slider-prev{
	right: 80%;
 }
  .talk-wrap .bx-controls.bx-has-pager{
	left: 38%;
 }
 #carousel-prev{
	left: 34%;
 }
 #carousel-next{
	left: 64%;
 }
  .bx-controls.bx-has-pager{
	left: 43%;
 }
}
 
/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 481px)
and (max-width : 768px) {
    /* Styles */
 
}
 
/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 769px) 
and (max-width : 1024px) {
    /* Styles */
	.a-top{height:auto;}
 .header-phone{display:none;}
 .a-action-main{margin:30px 5%;}
 .form-right .bx-controls.bx-has-pager{
	top: -144px;
	left: 280px;
 }
 .form-right{
	background:none;
 }
}
 
/* Larger screens ----------- */
@media only screen 
and (min-width : 1024px) {
    /* Styles */
 
}
@media (min-width: 768px) {
 .container-fluid>.navbar-header{
	margin-right: -15px;
margin-left: -15px;
 }
}
@media (min-width: 992px) {
  
  .col-5{float:left;width:20%;}
}
@media (min-width: 1200px) {
 
  .col-5{float:left;width:20%;}
}